<div class="modal modal-scrollable fileChooser" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">{{i18n 'dialog.advancedIssueSearch'}}</h4>
            </div>
            <div class="modal-body" >
                <div class="row">
					<div class="col-sm-12">Search</div>
					<div class="col-sm-12 searchParameters">
						<div class="row">
							<div class="col-sm-4">
								<select>
									
								</select>
							</div>
							<div class="col-sm-4">
								<select>

								</select>
							</div>
							<div class="col-sm-4">
								<select>

								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<a id="advancedSearchAddParam">add</a>
					</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{{i18n 'fileChooser.close'}}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->