<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="decorator" content="atl.admin" />
	<title>JIRA for Outlook</title>

	$webResourceManager.requireResource("com.yasoon.jira.cloud:resources")

	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
	<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,300,100" rel="stylesheet" type="text/css" />
	<script src="//cdn.ravenjs.com/1.2.0/jquery,native/raven.min.js"></script>
	<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

	<!--[if lte IE 9]>
                <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js'></script>
        <![endif]-->

	<!-- Start of yasoon Zendesk Widget script -->
	<script>/*<![CDATA[*/window.zEmbed || function(e, t) {
                var n, o, d, i, s, a = [], r = document.createElement("iframe");
                window.zEmbed = function() {
                    a.push(arguments)
                }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document;
                try {
                    o = s
                } catch (c) {
                    n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
                }
                o.open()._l = function() {
                    var o = this.createElement("script");
                    n && (this.domain = n), o.id = "js-iframe-async", o.src = e, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
                }, o.write('<body onload="document._l();">'), o.close()
            }("//assets.zendesk.com/embeddable_framework/main.js", "yasoon.zendesk.com");/*]]>*/</script>
	<!-- End of yasoon Zendesk Widget script -->
	<script type="text/javascript">
            zE(function() {
                zE.show();
            });
        </script>
</head>


<body style="margin: 10px 20px !important; background:white;">
	<div id="pageLoading" class="materialize-wrapper">
		<img src="https://yasoon.com/store-ressources/images/loader_small.gif" />
	</div>
	<div id="pageContent" class="ac-content materialize-wrapper ">
		<div id="AreaUnregistered" class="hidden">
			<div class="main row">
				<div class="wizard col s12 z-depth-1">
					<ul class="tabs" id="unregisteredTabs">
						<li class="tab col s3 active"><a href="#tab1" class="light-blue-text text-darken-2 active" data-toggle="tab">1. Basic Data <i class="material-icons finish-icon hidden" style="right: 20px">done</i></a></li>
						<li class="tab col s3 disabled"><a href="#tab2" class="light-blue-text text-darken-2" data-toggle="tab">2. Configure JIRA <i class="material-icons finish-icon hidden"  style="right: 5px">done</i></a></li>
						<li class="tab col s3 disabled"><a href="#tab3" class="light-blue-text text-darken-2" data-toggle="tab">3. Test Outlook App <i class="material-icons finish-icon hidden"  style="right: 0">done</i></a></li>
						<li class="tab col s3 disabled"><a href="#tab4" class="light-blue-text text-darken-2" data-toggle="tab">4. Share with team <i class="material-icons finish-icon hidden">done</i></a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane" id="tab1">
							<div id="AreaPreRegister" class="col s7 hidden">
								<div class="row bootstrap-wrapper" style="margin-top: 20px; margin-bottom: 10px">
									This JIRA instance is not yet registered at yasoon. <br/> Please sign up below to create a new yasoon company account
									or login with your existing one. <br />
									<a href="#" data-toggle="popover" title="" data-content="The yasoon account allows you to quickly manage your users. In addition, we are able to provide you with a personal setup file that are pre-configured for your JIRA. No additional configuration will be necessary for users of the Outlook addin."
										data-original-title="Why do I need to register?">Why?</a>
								</div>
								<div class="row">
									<a id="ButtonRegister" class="waves-effect waves-light btn light-blue darken-2" style="margin: 50px; line-height: 50px; height: 50px; font-size: 20px;">Register</a>
									<a id="ButtonLogin" class="waves-effect waves-light btn light-green darken-2" style="margin: 50px; line-height: 50px; height: 50px; font-size: 20px;">Login</a>
								</div>
							</div>
							<div id="AreaRegister" class="hidden col s7">
								<form id="registerForm">
									<div class="row bootstrap-wrapper" style="margin-top: 20px; margin-bottom: 10px">
										Please fill out these data so we can create a yasoon company account. <br /> The account is mandatory to get your
										JIRA for Outlook setup file.
									</div>
									<div class="row">
										<div class="input-field col s6">
											<input id="first_name" name="firstName" type="text" class="validate">
											<label for="first_name">First Name</label>
										</div>
										<div class="input-field col s6">
											<input id="last_name" name="lastName" type="text" class="validate">
											<label for="last_name">Last Name</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<input id="emailAddress" name="emailAddress" type="email" class="validate">
											<label for="emailAddress">Email</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<input id="company" name="company" type="text" class="validate">
											<label for="company">Company Name</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s6">
											<input id="password" name="password" type="password" class="validate">
											<label for="password">Password</label>
										</div>
										<div class="input-field col s6">
											<input id="password2" name="password2" type="password" class="validate">
											<label for="password2">Confirm Password</label>
										</div>
									</div>
									<input type="hidden" class="form-control" id="comment" name="comment" value="Registered via JIRA">
								</form>
							</div>
							<div id="AreaInitialLogin" class="hidden col s7">
								<form id="InitialLoginForm">
									<div class="row bootstrap-wrapper" style="margin-top: 20px; margin-bottom: 10px">
										Please login to your yasoon account to assign this JIRA instance with your account. <br /> All instances can be
										managed on our <a href="https://store.yasoon.com" target="_blank">yasoon account page</a>.
									</div>
									<div class="row">
										<div class="input-field col s6">
											<input id="loginEmailAddress" name="emailAddress" type="email" class="validate">
											<label for="loginEmailAddress">Email</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s6">
											<input id="loginPassword" name="password" type="password" class="validate">
											<label for="loginPassword">Password</label>
										</div>
									</div>
									<div class="row">
										<a href="https://store.yasoon.com" target="_blank"> forgot your password? </a>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane" id="tab2">
							<div class="col s5 serverVisible">
								<div class="row" style="margin-top: 30px; margin-bottom: 10px">
									JIRA for Outlook requires an application link to access your JIRA from Outlook. Please click the button below to configure
									this automatically.
								</div>
								<button type="button" id="addApplicationLinkButton" class="btn btn-default"><i class="material-icons right">add</i>Add Application Link</button>
								<div style="margin-top: 20px; margin-bottom: 20px">
									In case something is not working as expected, please follow our <a target="_blank" href="https://yasoon.zendesk.com/hc/en-us/articles/202740381-Technical-Admin-Guide-Server">manual configuration guide</a>.
								</div>
							</div>

							<div class="col s8 cloudVisible">
								<div class="row" style="margin-top: 30px; margin-bottom: 10px">
									JIRA for Outlook requires an <a class="applicationCreateLink" href="" target="_blank">application link</a> to access
									your JIRA from Outlook.
									<div style="margin-top: 10px;">
										<i class="material-icons pull-left" style="color:red; width: 20px;">report problem</i> Please follow this <a target="_blank"
											href="https://yasoon.zendesk.com/hc/en-us/articles/201911802-Technical-Admin-Guide-Cloud">configuration guide</a>										carefully to create it. Every misspelling may lead to errors with the addon, so please follow the guide exactly.
									</div>
									<div style="margin-top: 10px;">
										When asked for a certificate, please copy and paste the following text. Please copy ALL of the text, including the "BEGIN
										CERTIFICATE" and "END CERTIFICATE" part.
									</div>
									<div style="margin-top: 10px;">
										<textarea readonly class="form-control certTextArea" style="width: 95%; height: 150px; cursor:auto;"></textarea>
									</div>

								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab3">
							<div class="col s5">
								<div class="row" style="margin-top: 30px; margin-bottom: 10px">
									Your JIRA system has been configured. You can now test if the connection between Outlook and JIRA is working. Please download
									and installing the Outlook addin. When you have tested this successfully, please continue to the next step. <br/>
									<div id="downloadLoading">
										<div class="card col s9">
											<div class="card-content">
												<p>
													Your JIRA for Outlook setup file is being prepared. This may take up to 10 minutes.
												</p>
											</div>
											<div class="card-action">
												<img src="https://yasoon.com/store-ressources/images/loader_small.gif">
											</div>
										</div>
									</div>
									<div id="downloadReady" class="hidden">
										<div class="card col s9">
											<div class="card-content">
												<p>
													Your personalized setup is now available for download.
												</p>
											</div>
											<div class="card-action">
												<a id="downloadSetupButton" target="_blank">
													<button type="button" class="btn btn-default"><i class="material-icons right">get_app</i>Download Setup</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab4">
							<div class="col s9">
								<div class="row" style="margin-top: 30px; margin-bottom: 10px">
									We recommend to share the addon with a few users of your team. Please use the form below to select some JIRA users.
								</div>
								<div class="card col s10">
									<div id="userChips" class="card-content" style="min-height: 115px">
										<a data-target="userPicker" class="modal-trigger btn-floating btn-large waves-effect waves-light light-blue darken-2" style="display:block; margin-top: 10px; margin-bottom: 10px; float: left; margin-right: 20px;"><i class="material-icons">add</i></a>
									</div>
									<div class="card-action">
										<button type="button" id="manualInviteButton" class="btn btn-default"><i class="material-icons right">open_in_new</i>Preview E-Mail Invite</button>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 wizard-buttons">
							<a class="waves-effect waves-light btn light-blue darken-2 send-message"><i class="material-icons right">message</i>I have an issue</a>
							<button id="next" class="waves-effect waves-light btn light-green darken-2 hidden" data-type="register"><i class="material-icons right">play_arrow</i><span id="nextText">Next</span></button>
						</div>
						<div class="logo-branding">
							<img src="https://yasoon.com/store-ressources/images/logo_with_jira.png" />
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- After Setup -->
		<div id="AreaRegistered" class="hidden">
			<div class="row">
				<div class="col s12">
					<ul class="tabs" style="display:block;">
						<li class="tab"><a class="active" href="#general">General</a></li>
						<li class="tab"><a href="#settings">Settings</a></li>
						<li class="tab"><a href="#templates">Issue Templates</a></li>
					</ul>
				</div>
				<div id="general" class="col s12 tab-container">
					<div class="main row">
						<div class="afterSetup z-depth-1">
							<div class="row">
								<div class="s12 heading-col">
									<p>
										Have a quick overview about the most important things that really affects the if JIRA for Outlook is working or not.
									</p>
								</div>
							</div>
							<!-- Account Status -->
							<div id="purchasedStatus" class="card col s4 hidden">
								<div class="card-title green-text text-lighten-2" style="padding: 20px 0 0 20px">
									License Active <span class="pull-right"><a class="licenseRefresh"><i class="material-icons" style="float: left;">autorenew</i><span style="float: left; margin-top: 5px;">refresh</span></a>
									</span>
								</div>
								<div class="card-content">
									<p>
										This JIRA instance is <b>licensed</b> <span id="JiraLicensedAllUser"> for all users</span><span id="JiraLicensedFlexible"
											class="hidden"> for <b><span id="JiraUserNumber"></span></b> users </span> and ready to use. <span class="serverVisible">Support will expire on <b><span id="JiraSupportDate"></span></b>
										</span>
										<br /><br /> If you like to change your settings, please visit our
										<a target="_blank" href="https://store.yasoon.com"><i class="material-icons right"></i>yasoon admin panel</a>.
									</p>
								</div>
								<div class="card-action">
									<a class="storeLink btn btn-default" style="color: white" target="_blank" href="https://store.yasoon.com"><i class="material-icons right">open_in_new</i>Admin panel</a>
								</div>
							</div>

							<div id="trialStatus" class="card col s4 hidden">
								<div class="card-title yellow-text text-darken-2" style="padding: 20px 0 0 20px">
									Trial License <span class="pull-right"><a class="licenseRefresh"><i class="material-icons" style="float: left;">autorenew</i><span style="float: left; margin-top: 5px;">refresh</span></a>
									</span>
								</div>
								<div class="card-content">
									<p>
										JIRA for Outlook will <b>expire on <span id="JiraExpirationDate"></span></b>. All Outlook apps will be disabled
										a few days after. <br /> If you like to continue to use JIRA for Outlook, please consider to purchase the addon.
										<br /><br /> If you like the change the settings of the addon, please login to <a target="_blank" href="https://store.yasoon.com">our admin panel</a>
									</p>
								</div>
								<div class="card-action">
									<div class="serverVisible">
										<a class="purchaseDialogLink btn btn-default" data-target="purchaseDialog" style="color: white">Purchase</a>
									</div>
									<div class="cloudVisible">
										<a class="subscribeLink btn btn-default" href="#" style="color: white" target="_top">Subscribe</a>
									</div>
								</div>
							</div>

							<div id="trialExpired" class="card col s4 hidden">
								<div class="card-title red-text text-lighten-2" style="padding: 20px 0 0 20px">
									Trial Expired <span class="pull-right"><a class="licenseRefresh"><i class="material-icons" style="float: left;">autorenew</i><span style="float: left; margin-top: 5px;">refresh</span></a>
									</span>
								</div>
								<div class="card-content serverVisible">
									<p>
										The instance is <b>not licensed</b> anymore. All Outlook apps will be disabled soon (or are already disabled).<br
										/><br /> If you like to continue to use JIRA for Outlook, please consider to purchase the addon.
									</p>
								</div>
								<div class="card-content cloudVisible">
									<p>
										The instance is <b>not licensed</b> anymore. All Outlook apps will be disabled soon (or are already disabled).<br
										/><br /> If you like to continue to use JIRA for Outlook, please consider to subscribe the addon.
									</p>
								</div>
								<div class="card-action">
									<div class="serverVisible">
										<a class="purchaseDialogLink btn btn-default" data-target="purchaseDialog" style="color: white">Purchase</a>
									</div>
									<div class="cloudVisible">
										<a class="subscribeLink btn btn-default" href="#" style="color: white" target="_top">Subscribe</a>
									</div>
								</div>
							</div>
							<!-- Application Link -->
							<div id="applicationLinkActive" class="card col s3 hidden">
								<div class="card-title green-text text-lighten-2" style="padding: 20px 0 0 20px">
									Application Link Active
								</div>
								<div class="card-content">
									<p>
										The required Application Link appears to be configured correctly, you are good to go!
									</p>
								</div>
								<div class="card-action">
									<button type="button" class="btn btn-default disabled"><i class="material-icons right">done</i>Active</button>
								</div>
							</div>

							<div id="applicationLinkInactive" class="card col s3 hidden">
								<div class="card-title red-text text-lighten-2" style="padding: 20px 0 0 20px">
									Application Link Missing
									<span class="pull-right cloudVisible">
								 <a class="checkCloudApplicationLink"><i class="material-icons" style="float: left;">autorenew</i><span style="float: left; margin-top: 5px;" class="link-text">refresh</span></a>
									</span>
								</div>
								<div class="card-content serverVisible">
									<p>
										JIRA for Outlook requires an application link to access your JIRA from Outlook. Please click the button below to configure
										this automatically.

									</p>
									<div style="margin-top: 20px; margin-bottom: 20px">
										In case something is not working as expected, please <a href="#" class="send-message">contact us</a> or follow
										our
										<a target="_blank" href="https://yasoon.zendesk.com/hc/en-us/articles/202740381-Technical-Admin-Guide-Server">manual configuration guide</a>.
									</div>
								</div>
								<div class="card-content cloudVisible">
									<p>
										JIRA for Outlook requires an <a class="applicationCreateLink" href="" target="_blank">application link</a> to access
										your JIRA from Outlook.<br /> Please follow our
										<a>configuration guide</a> carefully and make sure the application link has been created completely.
									</p>
								</div>
								<div class="card-action">
									<div class="serverVisible">
										<button type="button" id="addApplicationLinkButtonMain" class="btn btn-default">Create Link</button>
									</div>
									<div class="cloudVisible">
										<a class="show-customcert-link btn btn-default" data-target="show-cert-dialog" style="color: white">Show Certificate</a>
									</div>
								</div>
							</div>

							<!-- Download/Share Area -->
							<div id="downloadLinkReady" class="card col s4 hidden">
								<div class="card-title green-text text-lighten-2" style="padding: 20px 0 0 20px">
									Download Ready
								</div>
								<div class="card-content">
									<p>
										Your personalized setup is now available. Please download it below, or share the following link:
									</p>
									<div class="input-field">
										<input spellcheck="false" id="downloadLink" type="text" class="validate ajs-dirty-warning-exempt" style="color: black" disabled="disabled">
									</div>

								</div>
								<div class="card-action">
									<button id="downloadSetupButtonMain" type="button" class="btn btn-default"><i class="material-icons right">get_app</i>Download</button>
									<!-- <button type="button" id="downloadShareButton" class="btn btn-default" style="margin-bottom: 10px;"><i class="material-icons right">send</i>Share</button> -->
								</div>
							</div>

							<div id="downloadLinkWaiting" class="card col s4 hidden">
								<div class="card-title red-text text-lighten-2" style="padding: 20px 0 0 20px">
									Preparing Download
								</div>
								<div class="card-content">
									<p>
										<span id="DownloadLinkErrorText">Your JIRA for Outlook setup file is being prepared. This may take a few minutes. </span>
									</p>
								</div>
								<div class="card-action">
									<img src="https://yasoon.com/store-ressources/images/loader_small.gif">
								</div>
							</div>

							<div style="clear: both;">&nbsp;</div>
							<div class="logo-branding">
								<img src="https://yasoon.com/store-ressources/images/logo_with_jira.png" />
							</div>

						</div>
					</div>
				</div>
				<div id="settings" class="col s12 tab-container">
					<div class="main row">
						<div class="afterSetup z-depth-1">
							<div class="row">
								<div class="s12 heading-col">
									<p>
										Here you can change all technical settings in JIRA for Outlook.<br />
										 <b>Yasoon Settings</b> Control some general behaviours of JIRA for Outlook and cannot be changed by the user if not stated explicitly.<br />
										 <b>Initial Jira Settings</b> Sets the intial settings forthe Jira application but the user can change them. <br />
										 <b>Jira Settings</b> Controls technical settings and general workflows. Cannot be changed by user <br />
									</p>
								</div>
							</div>
							<div class="row">
								<div class="s12 heading-col">
									<ul class="collapsible popout" data-collapsible="expandable">
										<li>
											<div class="collapsible-header"><i class="material-icons">language</i>General Settings</div>
											<div class="collapsible-body" data-bind="with:yasoonSettings" style="padding: 0px 20px;">
												 <form class="col s12" style="float:none;">
												 	 <div class="icons-grey black-label" style="padding-top: 10px;">
														<div class="row bootstrap-wrapper">
															<a href="#" class="left" style="margin-right: 15px;" data-toggle="popover" data-html="true" data-content="No software is without bugs - neither is ours. Please help us finding the issues quickly with automatic bug reports." data-title="Automatic error logs">
																<i class="material-icons">help_outline</i>
															</a>
															<label>
																Send automatic error logs 
															</label>
															<div class="switch"><label>Off<input type="checkbox" data-bind="checked: sendErrorLogs"><span class="lever"></span>On</label></div> 
														</div>
														<div class="row bootstrap-wrapper">
															<a href="#" class="left" style="margin-right: 15px;" data-toggle="popover" data-html="true" data-content="To improve future developments we track which parts of the software are used regularly - and which aren't. We cluster and anonymize these data, so nobody can track single users activities." data-title="Yasoon Analytics">
																<i class="material-icons">help_outline</i>
															</a>
															<label>
																Send analytics
															</label>
															<div class="switch"><label>Off<input type="checkbox" data-bind="checked: sendAnalytics"><span class="lever"></span>On</label></div>          
														</div>
														<div class="row bootstrap-wrapper">
															<a href="#" class="left" style="margin-right: 15px;" data-toggle="popover" data-html="true" data-content="When users install the addon the first time, they will get a series of 3-4 mails so they understand JIRA for Outlook easier. If you train your users yourself, you can turn them off. <br /> This setting is only used once during the installation. Users that have already installed will receive the rest of their email series. " data-title="Introduction Mails">
																<i class="material-icons">help_outline</i>
															</a>
															<label>
																Send introduction emails
															</label>
															<div class="switch"><label>Off<input type="checkbox" data-bind="checked: sendMails"><span class="lever"></span>On</label></div>          
														</div>
														<div class="row bootstrap-wrapper">
															<a href="#" class="left" style="margin-right: 15px;" data-toggle="popover" data-html="true" data-content="<b>Important:</b> This can break some functionalities in Outlook! We need to save data locally and if you are not using Exchange, we create a local .pst file for safety. Depending on your mail infrastructure Jira for Outlook may or may not work correctly. <br /> This setting is only used once during the installation. Existing .pst files will not get removed." data-title="Local .pst File">
																<i class="material-icons">help_outline</i>
															</a>
															<label>
																Prevent local .pst file

															</label>
															<div class="switch"><label>Off<input type="checkbox" data-bind="checked: noPstFile"><span class="lever"></span>On</label></div>          
														</div>
														<div class="row bootstrap-wrapper">
															<a href="#" class="left" style="margin-right: 15px;" data-toggle="popover" data-title="Yasoon Navigation" data-html="true" data-content="We have different ways to display the Navigation Tab. This sets the inital setting and can be overwritten by the user in Outlook: File --> Jira.  <br /> This setting is only used once during installation." >
																<i class="material-icons">help_outline</i>
															</a>
															<label>
																Yasoon Navigation
															</label>
															<div class="select-wrap">	
																<select style="width: 400px;" data-bind="select2: yasoonNavigationOptions, value:yasoonNavigation"></select>
															</div>
														</div>
														<div class="divider" style="margin-bottom: 10px;"></div>
														<div class="row bootstrap-wrapper">
															<a href="#" class="left" style="margin-right: 15px;" data-toggle="popover" data-html="true" data-content="Is shown to the user at the first start. A good welcome message gives guidence about the process and tells the user how to get help. We recommend a maximum total width of 600px which is the width of the editor" data-title="Welcome Message">
																<i class="material-icons">help_outline</i>
															</a>
															<div style="float:left">
																<label for="welcomeMessage">Welcome Message</label>
																<textarea id="welcomeMessage" class="materialize-textarea tiny-mce" data-bind="wysiwyg:welcomeMessage"></textarea>
															</div>
														</div>
													</div>
													<div style="padding: 2rem;">
														<a class="waves-effect waves-light btn" data-bind="click:save"><i class="material-icons left">save</i> Save </a>
													</div>
												</form>
											</div>
										</li>
										<li>
											<div class="collapsible-header"><i class="material-icons">build</i>Initial Jira Settings</div>
											<div class="collapsible-body" data-bind="with:jiraSettings" style="padding: 0px 20px;">
												<form class="col s12" style="float:none;">
												 	 <div class="icons-grey black-label">
														<div class="row bootstrap-wrapper"  style="padding-top: 10px;">
															<a href="#" class="left" style="margin-right: 15px;" data-toggle="popover" data-html="true" data-content="User will recieve a notification on his Desktop when something important happens for him in JIRA." data-title="Desktop Notifications">
																<i class="material-icons">help_outline</i>
															</a>
															<label>
																Show Desktop Notifications
															</label>
															<div class="switch"><label>Off<input type="checkbox" data-bind="checked: defaultSettings.showDesktopNotif"><span class="lever"></span>On</label></div> 
														</div>
														<div class="row bootstrap-wrapper">
															<a href="#" class="left" style="margin-right: 15px;" data-toggle="popover" data-html="true" data-content="Defines how the feed is synchronized. <b>Automatically</b> means every 2 minutes, <b>manually</b> only refreshes when the button is pressed by user and <b>off</b> does not sync at all." data-title="Sync Feed">
																<i class="material-icons">help_outline</i>
															</a>
															<label>
																Sync Feed
															</label>
															<div class="select-wrap">	
																<select style="width: 400px;" data-bind="select2: syncFeedOptions, value:defaultSettings.syncFeed"></select>
															</div>
														</div>
														<div class="divider" style="margin-bottom: 10px;"></div>
														<div class="row bootstrap-wrapper">
															<a href="#" class="left" style="margin-right: 15px;" data-toggle="popover" data-html="true" data-content="Attachments of emails will be marked for upload automatically when using 'New Issue' or 'Add To Issue'" data-title="Automatically Add Attachments">
																<i class="material-icons">help_outline</i>
															</a>
															<label>
																Automatically Add Attachments
															</label>
															<div class="switch"><label>Off<input type="checkbox" data-bind="checked: defaultSettings.addAttachmentsOnNewAddIssue"><span class="lever"></span>On</label></div> 
														</div>
														<div class="row bootstrap-wrapper">
															<a href="#" class="left" style="margin-right: 15px;" data-toggle="popover" data-html="true" data-content="The email will be marked for upload automatically when using 'New Issue' or 'Add To Issue'" data-title="Automatically Add Email">
																<i class="material-icons">help_outline</i>
															</a>
															<label>
																Automatically Add Email as .msg File
															</label>
															<div class="switch"><label>Off<input type="checkbox" data-bind="checked: defaultSettings.addEmailOnNewAddIssue"><span class="lever"></span>On</label></div> 
														</div>
														<div class="row bootstrap-wrapper">
															<a href="#" class="left" style="margin-right: 15px;" data-toggle="popover" data-html="true" data-content="The email meta data like sender, recipient, sent date and subject will be added automatically when using 'New Issue' or 'Add To Issue'" data-title="Automatically Add Email Header">
																<i class="material-icons">help_outline</i>
															</a>
															<label>
																Automatically Add Email Header
															</label>
															<div class="select-wrap">	
																<select style="width: 400px;" data-bind="select2: emailHeaderOptions, value:defaultSettings.addMailHeaderAutomatically"></select>
															</div>
														</div>
													</div>
													<div style="padding: 2rem;">
														<a class="waves-effect waves-light btn" data-bind="click:save"><i class="material-icons left">save</i> Save </a>
													</div>
												</form>
											</div>
										</li>

										<li>
											<div class="collapsible-header"><i class="material-icons">settings</i>Jira Settings</div>
											<div class="collapsible-body" data-bind="with:jiraSettings" style="padding: 0px 20px;">
												<form class="col s12" style="float:none;">
													<div class="icons-grey black-label">
														<div class="row bootstrap-wrapper" style="padding-top: 10px;">
															<a href="#" class="left" style="margin-right: 15px;" data-toggle="popover" data-html="true" data-content="Hides completed issues in all type of issue pickers in 'Create Issue' dialog as well as in 'Add to Issue' dialog." data-title="Hide completed issues">
																<i class="material-icons">help_outline</i>
															</a>
															<label>
																Hide completed issues
															</label>
															<div class="switch"><label>Off<input type="checkbox" data-bind="checked: defaultSettings.hideResolvedIssues"><span class="lever"></span>On</label></div> 
														</div>
													</div>
													<div style="padding: 2rem;">
														<a class="waves-effect waves-light btn" data-bind="click:save"><i class="material-icons left">save</i> Save </a>
													</div>
												</form>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div style="clear:both;"></div>
						</div>
					</div>
				</div>
				<div id="templates" class="col s12 tab-container">
					<div class="main row">
						<div class="afterSetup z-depth-1">
							<div class="row">
								<div class="s12 heading-col">
									<p>
										Here you can define issue templates based on selected criterias. These templates will be executed automatically during issue
										creation process in Outlook to set default values. <br /> The templates will be distributed to the client
										every 4 hours or at the Outlook restart
									</p>
								</div>
							</div>
							<div class="row">
								<div class="s12 heading-col">
									<ul class="collapsible popout" data-collapsible="expandable">
										<li>
											<div class="collapsible-header"><i class="material-icons">people_outline</i>Group Hierarchy</div>
											<div class="collapsible-body" data-bind="with:groupHierarchy" style="padding: 0px 20px;">
												<p>Issue Templates can be defined dependend on user groups. To do so, you'll have to pick all relevant groups here
													first. Afterwards you have to prioritize these groups via drag &amp; drop. These helps JIRA for Outlook to find
													the right template in case the user is assigned to multiple groups.
												</p>
												<div style="padding: 0px 2rem; width: 100%; max-width: 500px;">
													<div vlass="collection-header">
														<h4>Groups</h4>
													</div>
													<!-- ko if: forceRerender -->
													<ul class="collection" data-bind="sortable: groups" style="width: 100%; max-width: 600px;">

														<!-- ko foreach: groups -->
														<li class="collection-item">
															<span style="float:left; cursor:pointer;" draggable="true"><i class="material-icons left" style="padding-left: 15px;">reorder</i> </span>
															<span style="padding-left: 0px 45px;"><span data-bind="text:name"></span></span>
															<span style="float:right; cursor: pointer;" class="">
																<a data-bind="click: $parent.remove"><i class="material-icons custom-red" style="padding-left: 15px;">delete</i></a>
															</span>
														</li>
														<!-- /ko -->
													</ul>
													<!-- /ko -->
													<div style="padding: 5px 0px;">
														<group-picker params="group:newGroup, filter: groups"></group-picker>
													</div>
												</div>

												<div style="padding: 2rem;">
													<a class="waves-effect waves-light btn" data-bind="click:$root.save"><i class="material-icons left">save</i> Save </a>
												</div>
											</div>
										</li>
										<li>
											<div class="collapsible-header"><i class="material-icons">list</i>Initial Key Selection</div>
											<div class="collapsible-body" data-bind="with:initialSelection" style="padding: 0px 20px;">
												<p>Here you can define initial key values that are selected when user opens the "New Issue" dialog in Outlook.
													<br /> This can either be done for all users ( Group: All Others) or groups defined in the hierarchy above.
												</p>

												<table style="margin: 0px 2rem;width: 100%; max-width:1000px;" class="responsive-table centered">
													<thead>
														<tr>
															<th data-field="group" style="width: 30%;">Group</th>
															<th data-field="" style="width: 5%; max-width: 45px;"></th>
															<th data-field="project" style="width: 30%;">Project</th>
															<th data-field="issue-type" style="width: 30%;">Issue Type</th>
														</tr>
													</thead>

													<tbody>
														<!-- ko foreach: entries -->
														<tr>
															<td>
																<div style="margin: 0px 15px;">
																	<a style="cursor:pointer; float:left; padding-top: 2px;" data-bind="click:$parent.remove, visible: !isEmpty()">
																		<i class="material-icons left custom-red">delete</i>
																	</a>
																	<div style="padding-left: 40px;">
																		<group-picker-data params="data: $parent.availableGroups, hasOthersOption: true, group: group"></group-picker-data>
																	</div>
																</div>
															</td>
															<td> <i class="material-icons left" style="padding-left: 15px;">forward</i> </td>
															<td>
																<div style="margin: 0px 15px;">
																	<project-picker params="hasOthersOption: false, projectId: projectId"></project-picker>
																</div>
															</td>
															<td>
																<div style="margin: 0px 15px;">
																	<issue-type-picker params="hasOthersOption: false, projectId: projectId, issueTypeId: issueTypeId"></issue-type-picker>
																</div>
															</td>
														</tr>
														<!-- /ko -->
													</tbody>
												</table>

												<div style="padding: 2rem;">
													<a class="waves-effect waves-light btn" data-bind="click:$root.save"><i class="material-icons left">save</i> Save </a>
												</div>
											</div>
										</li>
										<li>
											<div class="collapsible-header"><i class="material-icons">assignment</i> Issue Templates</div>
											<div class="collapsible-body" data-bind="with:defaultTemplates" style="padding: 0px 20px;">
												<p>Here you can define issue templates. The fields will be inserted as soon as the user selects criteria that matches
													the key fields. Again these templates can be made group specific but they have to be defined in the group hierarchy.

												</p>
												<div style="padding: 0px 2rem;">
													<table class="responsive-table centered">
														<thead>
															<tr>
																<th data-field="group" style="width: 25%;">Group</th>
																<th data-field="project" style="width: 25%;">Project</th>
																<th data-field="issue-type" style="width: 25%;">Issue Type</th>
																<th data-field="" style="width: 5%; max-width: 45px;"></th>
																<th data-field="editButton" style="width: 15%; max-width: 100px;"></th>
															</tr>
														</thead>

														<tbody>
															<!-- ko foreach: entries -->
															<tr>
																<td>
																	<div style="margin: 0px 15px;">
																		<a style="cursor:pointer; float:left; padding-top: 2px;" data-bind="click:$parent.remove, visible: !isEmpty()">
																			<i class="material-icons left custom-red">delete</i>
																		</a>
																		<div style="padding-left: 40px;">
																			<group-picker-data params="data: $parent.allGroupsSelect2, group: group, hasOthersOption: true"></group-picker-data>
																		</div>
																	</div>
																</td>
																<td>
																	<div style="margin: 0px 15px;">
																		<project-picker params="hasOthersOption: true, projectId: projectId"></project-picker>
																	</div>
																</td>
																<td>
																	<div style="margin: 0px 15px;">
																		<issue-type-picker params="hasOthersOption: true, projectId: projectId, issueTypeId: issueTypeId"></issue-type-picker>
																	</div>
																</td>
																<td> <i class="material-icons left" style="padding-left: 15px;">forward</i> </td>
																<td>
																	<a class="waves-effect waves-light btn" data-bind="click:$parent.edit, css: { 'disabled': !isEditEnabled()}"><i class="material-icons left">edit</i> Edit </a>
																</td>
															</tr>
															<!-- /ko -->
														</tbody>
													</table>
												</div>
												<div id="fieldPickerModal" class="modal modal-fixed-footer">
													<!-- ko if: editObj -->
													<div class="modal-content" data-bind="with:editObj">
														<h4>Select Default Values</h4>
														<div class="row" style="padding-left: 40px; margin-bottom: 20px;">
															Here you can define the values for each field. <br>
															<ul>
																<li>
																	<span style="font-weight:bold;">Technical Ids:</span> For all select list values you'll have to use the
																	technical IDs.
																</li>
																<li>
																	<span style="font-weight:bold;">Multiple Values:</span> should be inserted comma separated. E.g.: 10100,10200
																</li>
																<li>
																	<span style="font-weight:bold;">Date Values:</span>
																	<div style="margin-left: 40px;">
																		<ul>
																			<li>
																				<span style="font-weight:bold;">Date format:</span> yyyy-mm-dd (2016-12-31)
																			</li>
																			<li>
																				<span style="font-weight:bold;">Date Time:</span> YYYY-MM-DD[T]HH:mm:ss.[000]Z (2016-12-31T21:00:00.000Z)
																			</li>
																		</ul>
																	</div>
																</li>
																<li>
																	<span style="font-weight:bold;">Variables:</span> We currently support the following variables:
																	<div style="margin-left: 40px;">
																		<ul>
																			<li>
																				<span style="font-weight:bold;">&lt;TODAY&gt;:</span> Inserts current date
																			</li>
																			<li>
																				<span style="font-weight:bold;">&lt;TODAY&gt; + x:</span> Inserts current date + x days
																			</li>
																			<li>
																				<span style="font-weight:bold;">&lt;USER&gt;:</span> Inserts current user
																			</li>
																			<li>
																				<span style="font-weight:bold;">|FIELDID|:</span> Use technical field Id to default to the value of
																				another field
																			</li>
																		</ul>
																	</div>
																</li>
															</ul>
														</div>
														<div class="row">
															<!-- ko foreach: fields -->
															<div class="col s6">
																<a style="cursor:pointer; float:left; padding-top: 2px;" data-bind="click:$parent.removeField, visible: !isEmpty()">
																	<i class="material-icons left custom-red">delete</i>
																</a>
																<div style="padding-left: 40px;">
																	<field-picker params="fieldId: fieldId, chosenField: currentField"></field-picker>
																</div>
															</div>
															<div class="col s4">
																<input style="width: 100%; height: 2rem;" type="text" data-bind="textInput: fieldValue">
															</div>
															<!-- /ko -->
														</div>
													</div>
													<!-- /ko -->
													<div class="modal-footer">
														<a href="#!" id="saveFields" class="waves-effect waves-light btn modal-action modal-close"><i class="material-icons left">close</i>Close</a>
													</div>
												</div>
												<div style="padding: 2rem;">
													<a class="waves-effect waves-light btn" data-bind="click:$root.save"><i class="material-icons left">save</i> Save </a>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="AreaLogin" class="hidden" style="max-width: 600px; margin: 50px; margin-top: 0px;">
			<div class="bootstrap-wrapper page-header">
				<h2>yasoon<small> Login </small></h2>
			</div>
			<div class="row" style="margin-top: 30px; margin-bottom: 10px">
				Please login to your yasoon company account to see the configuration data.
			</div>
			<div class="bootstrap-wrapper">
				<form role="form" id="LoginForm" class="bootstrap-wrapper" style="max-width: 600px;">
					<div class="bootstrap-wrapper form-group">
						<label for="emailAddress">Your Email</label>
						<input type="email" class="bootstrap-wrapper form-control" id="emailaddress" name="emailAddress" placeholder="Email address">
					</div>
					<div class="bootstrap-wrapper form-group">
						<label for="password">Password</label>
						<input type="password" class="bootstrap-wrapper form-control" id="password" name="password" placeholder="Password" />
					</div>
					<div class="bootstrap-wrapper">
						<button type="button" id="LoginYasoonButton" class="pull-left btn btn-default" style="margin-right: 20px;">Login</button>
						<a href="https://store.yasoon.com" target="_blank">forgot password?</a>
					</div>

				</form>
			</div>
			<div class="logo-branding">
				<img src="https://yasoon.com/store-ressources/images/logo_with_jira.png" />
			</div>
		</div>
		<div id="purchaseDialog" class="modal">
			<div class="modal-content">
				<div class="row">
					<div class="col s6">
						<h5>Flexible Licensing</h5>
						<div>
							Only pay what you need! <br /><br /> You can buy any amount of JIRA for Outlook licenses at a fixed price of
							<span style="font-weight: 400;">$39.90</span> per user.
						</div>
					</div>
					<div class="col s6">
						<h5>Bundled Licensing</h5>
						<div>
							JIRA for Outlook can be purchased with big discounts for all your JIRA users. <br /> <br /> Bundles can be bought
							via the Atlassian store.
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 30px;">
					<div class="col s6">
						<a class="btn btn-default" style="color: white; margin-left: 50px;" target="_blank" href="https://store.yasoon.com/#/main/company/own/tabPayments">Purchase</a>
					</div>
					<div class="col s6">
						<a class="btn btn-default" style="color: white; margin-left: 50px;" target="_blank" href="https://marketplace.atlassian.com/plugins/com.yasoon.jira.cloud/server/overview">Purchase</a>
					</div>
				</div>
			</div>
		</div>

		<div id="show-cert-dialog" class="modal">
			<div class="modal-content">
				<div class="row">
					<div class="col s12">
						<h5>Your personal certificate</h5>
						Please use this certificate in the JIRA application link as public key.<br /> Please Make sure to copy "BEGIN CERTIFICATE"
						and "END CERTIFICATE" as well.
						<textarea readonly class="form-control certTextArea" style="width: 95%; height: 150px; cursor:auto;"></textarea>
					</div>
				</div>
			</div>
		</div>

		<form id="UserEmailForm" class="hidden" method="post" action="">
		</form>
	
		<div id="userPicker" class="modal modal-fixed-footer">
			<div class="modal-content">
				<h4>Select Users</h4>
				<div class="row">
					<div class="col s8">
						<div class="input-field col s8" style="">
							<input id="userNameSearch" type="text" class="validate">
							<label for="userNameSearch">Search for User</label>
						</div>
						<div class="col s4" style="margin-top: 20px">
							<a id="userNameSearchTrigger" href="#" class="waves-effect waves-light btn light-blue darken-2">Search</a>
						</div>
					</div>
				</div>
				<div class="row">
					<ul id="userPickerList" class="collection">
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#!" id="selectUsers" class="modal-action modal-close waves-effect waves-green btn-flat ">Select</a>
			</div>
		</div>
	</div>
</body>

</html>