<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="decorator" content="atl.general" />
    <title>JIRA for Outlook</title>

    $webResourceManager.requireResource("com.yasoon.jira.cloud:userResources")

    <style>
        body {
            background: white;
            overflow: hidden;
        }
    </style>

    <!--[if lte IE 9]>
                <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js'></script>
        <![endif]-->
    <script type="text/javascript">
        var pathHtml = '$webResourceManager.getStaticPluginResource("com.yasoon.jira.cloud:static", "user.html")';
    </script>
</head>

<body style="margin: 10px 20px !important; background:white;">
    <div id="pageLoading" class="materialize-wrapper">
        <img src="https://yasoon.com/store-ressources/images/loader_small.gif" /> loading
    </div>

    <div id="pageContent" class="hidden materialize-wrapper">

    </div>

    <div id="pageError" class="hidden materialize-wrapper">
    </div>
</body>

</html>