.materialize-wrapper .wizard {
	padding-bottom: 20px !important;
	position: relative;
	min-height: 510px !important;
	max-width: 1200px !important;
}

.materialize-wrapper .tabs .indicator {
	background-color: #039be5 !important;
}

.materialize-wrapper .tabs .disabled a {
	color: #b3e5fc !important;
}

.materialize-wrapper .tabs.tabs--small {
	height: 36px;
}

.materialize-wrapper .tabs .tab.tab--small {
    height: 36px;
    line-height: 36px;
}

.materialize-wrapper .tab-content form {
	margin-top: 10px !important;
}

.materialize-wrapper .popover {
	border-radius: 0px !important;
	font-family: "Roboto", sans-serif !important;
}

.materialize-wrapper .popover-title {
	border: none !important;
	border-radius: 0px !important;
	background-color: #039be5 !important;
	color: white !important;
	font-family: "Roboto", sans-serif !important;
}

.materialize-wrapper .finish-icon {
	position: absolute;
}

.materialize-wrapper .tab a {
	position: relative !important;
}

.materialize-wrapper .tab.finished i {
	display: inline !important;
}

.materialize-wrapper .tab i {
	display: none;
}

.materialize-wrapper .logo-branding {
	position: absolute !important;
	bottom: 10px !important;
	right: 10px !important;
}

.materialize-wrapper .wizard-buttons {
	position: absolute !important;
	bottom: 20px !important;
	left: 15px !important;
}

.materialize-wrapper .logo-branding img {
	height: 40px !important;
}

.materialize-wrapper .card-screenshot {
	max-width: 285px !important;
	padding: 0 !important;
	min-height: 316px !important;
}

.materialize-wrapper .card-action {
	text-align: center !important;
}

.materialize-wrapper .collection-item {
	min-height: 0 !important;
/*	cursor: pointer !important; */
}

.materialize-wrapper .secondary-content label {
	padding-left: 25px !important;
	margin-top: 5px !important;
}

.materialize-wrapper .modal {
	width: 40% !important;
}


.materialize-wrapper .afterSetup {
	padding-top: 15px !important;
	position: relative;
}
			
.materialize-wrapper .afterSetup .card {
	margin-left: 30px !important;				
}
			

.materialize-wrapper h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.materialize-wrapper h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
}

.materialize-wrapper h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

.materialize-wrapper h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}

.materialize-wrapper h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

.materialize-wrapper .tabs.tabs--small {
	height: 36px;
}

.materialize-wrapper .tabs .tab.tab--small {
    height: 36px;
    line-height: 36px;
}

.materialize-wrapper .select-wrapper+label {
	top: -14px!important;
}

.materialize-wrapper input:not([type]),
.materialize-wrapper input[type=text],
.materialize-wrapper input[type=password],
.materialize-wrapper input[type=email],
.materialize-wrapper input[type=url],
.materialize-wrapper input[type=time],
.materialize-wrapper input[type=date],
.materialize-wrapper input[type=datetime],
.materialize-wrapper input[type=datetime-local],
.materialize-wrapper input[type=tel],
.materialize-wrapper input[type=number],
.materialize-wrapper input[type=search],
.materialize-wrapper textarea.materialize-textarea {
	height: 2rem; 
	margin: 0px;
}   

.materialize-wrapper .input-field label {
	top: 0.2rem;
}

a {
	cursor: pointer;
}

.hidden {
    display:none !important;
}

.licenseRefresh, .checkCloudApplicationLink {
    cursor: pointer;
    font-size: 18px;
}

.pull-right {
    float: right;
}

.isCloud .serverVisible {
    display:none;
}

.isOnPremise .cloudVisible {
    display:none;
}

.header {
    color: #ee6e73;
    font-weight: 300;
}

.heading-col {
	padding: 10px 30px 0px 30px;
}

.hover-only {
	display:none;
}

.hover-target:hover .hover-only {
	display: block;
}

.custom-red {
	color: #ee6e73 !important;
}

#notyfy_container_topCenter {
	left: 40%;
}

.materialize-wrapper .black-label label {
	color: #333;
}

.icons-grey .material-icons {
	color: #9e9e9e
}

.isCloud .tab-container {
	overflow-y: auto;
}

/* Tiny Mce */
@import url(https://fonts.googleapis.com/css?family=Lato);
@font-face{
	font-family:aileron;
	font-style:normal;
	font-weight:200;
	src:url(../fonts/aileron-ultra-light.eot?#iefix) format("embedded-opentype"),url(../fonts/aileron-ultra-light.woff) format("woff"),url(../fonts/aileron-ultra-light.ttf) format("truetype")
}

.mce-container textarea {
    display: initial!important
}
.mce-content-body {
    font-family: Lato!important;
    font-size: 14px;
    color: #828282;
    padding: 0 25px 25px
}
.mce-content-body h1,
.mce-content-body h2,
.mce-content-body h3,
.mce-content-body h4,
.mce-content-body h5,
.mce-content-body h6 {
    font-family: aileron;
    font-weight: 200;
    line-height: 1.4em;
    margin: 25px 0 15px
}
.mce-content-body h1 {
    font-size: 34px
}
.mce-content-body h2 {
    font-size: 30px
}
.mce-content-body h3 {
    font-size: 26px
}
.mce-content-body h4 {
    font-size: 22px
}
.mce-content-body h5 {
    font-size: 18px
}
.mce-content-body h6 {
    font-size: 14px
}
.mce-content-body p {
    margin: 25px 0
}
.mce-content-body ol,
.mce-content-body ul {
    margin-left: 15px;
    list-style-position: outside;
    margin-bottom: 20px
}
.mce-content-body ol li,
.mce-content-body ul li {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #828282
}
.mce-content-body ul {
    list-style-type: disc
}
.mce-content-body ol {
    list-style-type: decimal
}
.mce-content-body a[href] {
    text-decoration: underline
}
.mce-content-body table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid #aaa
}
.mce-content-body table tr:nth-child(even) {
    background: #FAFAFA
}
.mce-content-body table caption,
.mce-content-body table td,
.mce-content-body table th {
    padding: 15px 7px;
    font: inherit
}
.mce-content-body table th {
    font-weight: 400;
    color: #6E6E6E;
    background-position: 100% 100%;
    background-size: 2px 10px;
    background-repeat: no-repeat
}
.mce-content-body table th:last-child {
    background: 0 0
}
/* End Tiny MCE */