<!DOCTYPE html>
<html lang="en">
    <head>        
        <meta name="decorator" content="atl.admin" />
        <title>JIRA for Outlook</title>
        <style>
            .panel-success > .success-body {
             display:block !important;
            }

            .panel-warning > .warning-body {
             display: block !important;
            }

            .panel-danger > .danger-body {
             display: block !important;
            }

            .panel-info > .info-body {
                display: block !important;
            }

            .success-body {
             display:none;
            }

            .warning-body {
             display: none;
            }

            .danger-body {
             display: none;
            }

            .info-body {
                display: none;
            }
           </style>
        $webResourceManager.requireResource("com.yasoon.jira.cloud:resources")
        
        <script src="//cdn.ravenjs.com/1.1.2/jquery,native/raven.min.js"></script>
        <!-- Start of yasoon Zendesk Widget script -->
        <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","yasoon.zendesk.com");/*]]>*/</script>
        <!-- End of yasoon Zendesk Widget script -->
        <script>
          zE(function() {
            zE.identify({ze23772381: 'JIRA for Outlook'});
          });
        </script>
    </head>
    <body>
        <section id="content" class="bootstrap-wrapper ac-content" >
            <div id="RegisteredArea" style="margin: 50px; margin-top: 0px; max-width: 800px; display:none">
                <div>
                    <div class="bootstrap-wrapper page-header">
                        <h1>JIRA for Outlook<small><br />powered by yasoon</small></h1>
                    </div>
                    
                    <div id="licenseStatus" class="bootstrap-wrapper panel">
                        <div class="bootstrap-wrapper panel-heading">
                            <h3 class="bootstrap-wrapper panel-title">Account Status</h3>
                        </div>
                        <div id="purchasedStatus" class="bootstrap-wrapper panel-body success-body">
                                This JIRA instance is <b>licensed</b> and ready to use. Support will expire on <b><span id="JiraSupportDate"></span></b> <br />
                                If you like to change your settings, please visit our <a class="storeLink" target="_blank" href="https://store.yasoon.com">yasoon admin panel</a>
                        </div>
                        <div id="trialStatus" class="bootstrap-wrapper panel-body warning-body">
                                JIRA for Outlook will <b>expire on <span id="JiraExpirationDate"></span></b>. All Outlook apps will be disabled a few days afterwards. <br />
                                If you like to continue to use JIRA for Outlook, please purchase licenses through our <a class="storeLink" target="_blank" href="https://store.yasoon.com">yasoon admin panel</a>.
                        </div>
                        <div id="trialExpired" class="bootstrap-wrapper panel-body danger-body">
                                The instance is <b>not licensed</b> anymore. All Outlook apps will be disabled soon (or are already disabled).<br />
                                If you like to continue to use JIRA for Outlook, please please purchase licenses through our <a class="storeLink" target="_blank" href="https://store.yasoon.com">yasoon admin panel</a>.                                
                        </div>
                        <div class="bootstrap-wrapper panel-body info-body">
                            Could not retrieve license information. Please reload this page to try it again.<br /><br/>
                            You can still access our <a class="storeLink" target="_blank" href="https://store.yasoon.com">yasoon admin panel</a>
                        </div>
                    </div>
                    <br />
                    <div id="appLinkStatus" class="bootstrap-wrapper panel panel-warning">
                        <div class="bootstrap-wrapper panel-heading">
                            <h3 class="bootstrap-wrapper panel-title">JIRA Configuration</h3>
                        </div>
                        <div class="bootstrap-wrapper panel-body">
                            <div style="margin-bottom: 10px">
                                JIRA for Outlook needs an application link to access your JIRA from Outlook. Please click the button below to configure this automatically.
                            </div>
                            <button type="button" id="AddApplicationLinkButton" class="bootstrap-wrapper btn btn-default">Add Application Link</button>
                            <div style="margin-top: 20px">
                                In case something is not working as expected, please follow our <a target="_blank" href="https://yasoon.zendesk.com/hc/en-us/articles/202740381-Technical-Admin-Guide-Server">manual configuration guide</a>.
                            </div>
                        </div>                        
                    </div>
                    <br />
                    <div id="downloadLinkStatus" class="bootstrap-wrapper panel panel-warning">
                        <div class="bootstrap-wrapper panel-heading">
                            <h3 class="bootstrap-wrapper panel-title">Outlook App Download</h3>
                        </div>
                        <div id="downloadLinkWaiting" class="bootstrap-wrapper panel-body">
                            Your JIRA for Outlook setup file is being prepared. This may take a few minutes.
                            <div style="margin-top: 10px">
                                <img src="https://store.yasoon.com/images/loader_small.gif" />
                            </div>
                        </div>
                        <div id="downloadLinkArea" class="panel-body success-body">
                            Your JIRA for Outlook is ready to use. Please download and install the JIRA Outlook app.<br />
                            Share this link with your JIRA users to get them started.
                            <div id="downloadLink" style="margin-top: 10px">
                            </div>                                 
                        </div>
                    </div>
                </div>
            </div>
            <div id="LoginArea" style="max-width: 600px; margin: 50px; margin-top: 0px; display:none;">
                <div class="bootstrap-wrapper page-header">
                    <h1>yasoon<small> Login </small></h1>
                </div>
                <div class="bootstrap-wrapper">
                    <form role="form" id="LoginForm" class="bootstrap-wrapper" style="max-width: 600px;">
                        <div class="bootstrap-wrapper form-group">
                            <label for="emailAddress">Your Email</label>
                            <input type="email" class="bootstrap-wrapper form-control" id="emailaddress" name="emailAddress" placeholder="Email address">
                        </div>
                        <div class="bootstrap-wrapper form-group">
                            <label for="password">Password</label>
                            <input type="password" class="bootstrap-wrapper form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <button type="button" id="LoginYasoonButton" class="bootstrap-wrapper btn btn-default">Login</button>
                    </form>
                </div>
            </div>
            <div id="UnregisteredArea" style=" display: none;">
                <form role="form" id="RegisterCompanyForm" class="bootstrap-wrapper" style="max-width: 600px; margin: 50px; margin-top: 0;">
                    <div>
                        <div class="bootstrap-wrapper page-header">
                            <h1>Welcome to JIRA for Outlook <small><br />powered by yasoon</small></h1>
                        </div>
                        This JIRA instance is <b>not yet registered at yasoon.</b> <br />
                        Please sign up via the form below or login with your existing yasoon account.
                        <a href="#" data-toggle="popover" title="Why do I need to register?" data-content="The yasoon account allows you to quickly manage your users. In addition, we are able to provide you with a personal setup file. It's will be pre-configured for your JIRA, so no additional configuration will be necessary for users of the Outlook addin.">Why?</a>
                        <br /><br />
                        Would you like to get a quick walk-through? <a id="sendMessage" href="#">Message us</a>!
                        <br /><br />
                    </div>
                    <div class="bootstrap-wrapper form-group">
                        <label for="company">Company Name</label>
                        <input type="text" class="bootstrap-wrapper form-control" id="company" name="company" placeholder="Company Name">
                    </div>
                    <div class="bootstrap-wrapper form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" class="bootstrap-wrapper form-control" id="firstname" name="firstName" placeholder="First Name">
                    </div>
                    <div class="bootstrap-wrapper form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="bootstrap-wrapper form-control" id="lastname" name="lastName" placeholder="Last Name">
                    </div>
                    <div class="bootstrap-wrapper form-group">
                        <label for="emailAddress">Your Email</label>
                        <input type="email" class="bootstrap-wrapper form-control" id="emailaddress" name="emailAddress" placeholder="Email Address">
                    </div>
                    <div class="bootstrap-wrapper form-group">
                        <label for="password">Password</label>
                        <input type="password" class="bootstrap-wrapper form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="bootstrap-wrapper form-group">
                        <label for="password1">Confirm Password</label>
                        <input type="password" class="bootstrap-wrapper form-control" id="password1" name="password1" placeholder="Confirm Password">
                        <span class="bootstrap-wrapper help-block" style="visibility:hidden;">Password does not match!</span>
                    </div>
                    <input type="hidden" class="bootstrap-wrapper form-control" id="comment" name="comment" value="Registered via JIRA">
                    <button type="button" id="RegisterCompanyButton" class="bootstrap-wrapper btn btn-default">Register</button> or <a id="LoginYasoon" style="cursor: pointer;"> login to your yasoon account</a>
                </form>
            </div>
        </section>
    </body>
</html>